---
import { Image } from "astro:assets";

interface Props {
  titulo: string;
  fechaDeTrabajo: string;
  rol: string;
  iconoEmpresa: ImageMetadata;
  funciones: string[];
}

const { titulo, fechaDeTrabajo, rol, iconoEmpresa, funciones } = Astro.props;
---

<article
  class="bg-neutral-50 dark:bg-neutral-900 shadow-md rounded-lg p-6 flex flex-col gap-4 w-full max-w-[28rem]"
>
  <div class="flex items-center gap-4">
    <Image src={iconoEmpresa} alt="Icono Empresa" class="w-32 h-32 rounded" />
    <div class="flex flex-col gap-2">
      <h3
        class="text-neutral-900 dark:text-neutral-100 text-lg lg:text-xl font-title font-semibold"
      >
        {titulo}
      </h3>
      <p
        class="text-neutral-600 dark:text-neutral-300 font-text font-semibold text-sm"
      >
        {fechaDeTrabajo}
      </p>
      <p
        class="text-neutral-800 dark:text-neutral-200 font-text font-regular text-lg"
      >
        {rol}
      </p>
    </div>
  </div>
  <hr class="border-nuetral-900" />
  <ul class="list-disc list-inside text-neutral-600 dark:text-neutral-300">
    {funciones.map((funcion) => <li>{funcion}</li>)}
  </ul>
</article>
