---
import Title from '@/components/Title.astro';
import CardProyect from '@/components/UI/CardProyect.astro';
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';

const proyects = (await getCollection('proyects'))[0].data;
---

<Layout>
  <section class="about pt-[60px] pb-[70px]">
    <div class="mx-auto max-w-[1200px] px-4 sm:px-6 md:px-10">
      <Title title="Portafolio" />
      <div class="portafolio-row grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        {proyects.map((proyect) => (
          <CardProyect
            nombre={proyect.nombre}
            descripcion={proyect.descripcion}
            fecha={proyect.fecha}
            tecnologias={proyect.tecnologias}
            github={proyect.github}
            imagen={proyect.imagen}
          />
        ))}
      </div>
    </div>
  </section>
</Layout>

<script>
  const section = document.querySelector('section') as HTMLElement;
  function checkWidth() {
    if (window.innerWidth > 640) {
      section.classList.remove('portafolio-background');
    } else {
      section.classList.add('portafolio-background');
    }
  }
  checkWidth();
  window.addEventListener('resize', checkWidth);
</script>