---
import ButtonSocial from "@components/buttons/ButtonSocial.astro";
import iconGithub from "@assets/icons/github.svg";
import iconLinkedin from "@assets/icons/linkedin.svg";
import iconTwitter from "@assets/icons/twitter-x.svg";
import iconInstagram from "@assets/icons/instagram.svg";
import iconFacebook from "@assets/icons/facebook.svg";

import iconWordmark from "@assets/brand/Wordmark.svg";
import iconDarkWordmark from "@assets/brand/WordMarkDark.svg";

import { Image } from "astro:assets";
import {
  PhoneIcon,
  EnvelopeIcon,
  GlobeAmericasIcon,
  InboxIcon,
} from "@heroicons/react/24/outline";
import Button from "@components/buttons/Button.astro";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<footer
  class="bg-neutral-100 dark:bg-neutral-950 flex flex-col items-center justify-center pt-6"
>
  <div
    class="container grid grid-cols-1 lg:grid-cols-3 items-center lg:items-start gap-10 p-4 lg:p-0 lg:py-4 md:px-0 pb-10 lg:pb-16"
  >
    <div class="flex flex-col items-center gap-4 lg:gap-8">
      <h4
        class="text-neutral-950 dark:text-neutral-50 font-medium text-2xl font-title"
      >
        {t("footer.title")}
      </h4>

      <Button
        text={t("footer.btn")}
        size="md"
        variant="primary"
        href={translatePath("/contact")}
      />
    </div>

    <div
      class="flex flex-col items-center justify-center lg:items-start gap-10 lg:-order-1"
    >
      <div
        class="flex items-center justify-center lg:justify-start gap-4 lg:order-1"
      >
        <ButtonSocial
          href="https://github.com/Jonathan-Bello"
          icon={iconGithub}
        />
        <ButtonSocial
          href="https://www.linkedin.com/in/jonathan-alexis-bello/"
          icon={iconLinkedin}
        />
        <ButtonSocial
          href="https://www.instagram.com/jonathan_bello/"
          icon={iconInstagram}
        />
        <ButtonSocial
          href="https://www.facebook.com/jonathan.bello"
          icon={iconFacebook}
        />
        <ButtonSocial
          href="https://twitter.com/JonathanBello"
          icon={iconTwitter}
        />
      </div>

      <Image class="h-8 dark:hidden" src={iconWordmark} alt="Jonathan Bello" />
      <Image
        class="h-8 hidden dark:block"
        src={iconDarkWordmark}
        alt="Jonathan Bello"
      />
    </div>

    <div
      class="hidden flex-col items-start lg:items-end gap-2 row-span-2 lg:flex"
    >
      <div class="flex flex-col items-start gap-2">
        <a
          href="tel:+56923456789"
          class="text-neutral-400 dark:text-neutral-200 font-text text-sm lg:text-lg hover:underline
        flex items-center gap-4"
        >
          <PhoneIcon
            className="h-6 w-6 text-neutral-400 dark:text-neutral-200 inline-block"
          />
          231 231 231 2311
        </a>

        <a
          href="mailto:jonathan.bellofg@gmail.com"
          class="text-neutral-400 dark:text-neutral-200 font-text text-sm lg:text-lg hover:underline
        flex items-center gap-4"
        >
          <EnvelopeIcon
            className="h-6 w-6 text-neutral-400 dark:text-neutral-200 inline-block"
          />
          jonathan.bellofg@gmail.com
        </a>

        <a
          href="https://appdeux.com"
          target="_blank"
          class="text-neutral-400 dark:text-neutral-200 font-text text-sm lg:text-lg hover:underline
      flex items-center gap-4"
        >
          <GlobeAmericasIcon
            className="h-6 w-6 text-neutral-400 dark:text-neutral-200 inline-block"
          />
          appdeux.com
        </a>

        <a
          href="https://appdeux.com"
          target="_blank"
          class="text-neutral-400 dark:text-neutral-200 font-text text-sm lg:text-lg hover:underline
    flex items-center gap-4"
        >
          <InboxIcon
            className="h-6 w-6 text-neutral-400 dark:text-neutral-200 inline-block"
          />
          Mi blog
        </a>
      </div>
    </div>
  </div>

  <div class="bg-primary-700 w-full">
    <p
      class="text-neutral-50 font-title font-medium text-center text-base py-1"
    >
      Jonathan Bello - 2025
    </p>
  </div>
</footer>
