---
import '@/styles/global.css';
import Tag from './Tag.astro';

interface Props {
  nombre: string;
  descripcion: string;
  fecha: string;
  tecnologias: string[];
  github: string;
  imagen: string;
}

const props = Astro.props;
---

<div class="p-2 w-full">
  <article
    class="group flex h-full cursor-pointer flex-col justify-between overflow-hidden rounded-3xl bg-gradient-to-br from-blue-800 via-indigo-900 to-purple-900 p-4 backdrop-blur-lg transition-all duration-200 ease-in-out hover:scale-105 hover:shadow-lg"
  >
    <div class="overflow-hidden rounded-xl">
      <img
        class="h-auto w-full rounded-xl object-cover transition-transform duration-300 ease-in-out group-hover:scale-105"
        src={props.imagen}
        alt={props.nombre}
        loading="lazy"
      />
    </div>
    <div class="flex flex-col mt-4 flex-grow">
      <h2 class="text-2xl font-bold text-white sm:text-3xl">{props.nombre}</h2>
      <div class="flex flex-wrap gap-2 mt-2">
        {props.tecnologias.map((tecnologia) => (
          <Tag text={tecnologia} />
        ))}
      </div>
      <p class="mt-3 text-base leading-relaxed font-medium text-gray-200 max-w-full sm:max-w-[90%]">
        {props.descripcion}
      </p>
    </div>
    <div class="mt-4">
      <a
        href={props.github}
        class="inline-block text-white font-semibold text-lg hover:text-indigo-300 transition-colors"
        target="_blank"
        rel="noopener noreferrer"
      >
        Ver Proyecto
      </a>
    </div>
  </article>
</div>
