---
interface Props {
  empresa: string;
  fecha_inicio: string;
  fecha_fin: string;
  puesto: string;
  responsabilidades: string;
}

const info = Astro.props;
---

<div class="before:bg-aqua-glow-claro relative pb-12 pl-9 before:absolute before:top-0 before:left-[7px] before:h-full before:w-0.5 before:content-[''] last:pb-0">
  <div class="bg-aqua-glow-claro absolute top-0 left-0 h-4 w-4 rounded-full"></div>
  <h6 class="text-aqua-glow mb-3 text-sm font-semibold">
    <i class="fa fa-calendar"></i>{info.fecha_inicio} - {info.fecha_fin}
  </h6>
  <h4 class="text-pt-black-g mb-2 text-xl font-bold capitalize">{info.empresa}</h4>
  <h3 class="text-amber-glow mb-2 text-lg font-bold capitalize">{info.puesto}</h3>
  <p class="text-pt-gray-subtext text-base leading-6">{info.responsabilidades}</p>
</div>

<style></style>
